<div ng-include="'../components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Approve Ad</h1>
      <ul class="nav nav-tabs">
        <li>
          <a href="#">
            <span class="text-muted">{{ad.createdOn | date : short}} {{ad.creator.name}}</span>
            <strong ng-bind-html="ad.text"></strong>
          </a>
        </li>
        <li>
        </li>
      </ul>
    </div>
  </div>
  &nbsp;
  <div class="row">
    <div class="col-lg-12">
      <span class="input-group-btn">
    <button type="submit" class="btn btn-primary" ng-click="approveAd()">Approve Ad</button>
    </span>
      <span class="input-group-btn">
    <button type="submit" class="btn" ng-click="rejectAd()">Reject Ad</button>
  </span>
    </div>
  </div>
</div>



<div ng-include="'components/footer/footer.html'"></div>